# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath
classes/**

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
console/memory_meta_server_dao_file.xml
memory_meta_server_dao_file.xml

# system ignore
.DS_Store
Thumbs.db

# embedded tomcat
tomcat.8080/**

# for test
hostkey.ser

# test configuration
integrationTest/src/test/java/com/ctrip/framework/drc/monitor/CustomizedBidirectionalStarter.java
applier/src/main/META-INF/

#properties
applier.properties

#npm
node_modules/
dist/
console/src/main/webapp/drc-admin

#local
console/src/main/resources/drc.properties

