<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="baseDir">/opt/logs/100023498</Property>
        <Property name="appName">drc-replicator</Property>
    </Properties>
    <Appenders>
        <RollingFile name="ReplicatorServerRollingFileInfo" fileName="${baseDir}/info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.info.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ReplicatorServerRollingFileWarn" fileName="${baseDir}/warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.warn.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ReplicatorServerRollingFileError" fileName="${baseDir}/error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.error.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileGtidInfo" fileName="${baseDir}/gtid.log"
                     filePattern="${baseDir}/gtid-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="gtid-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileBinlogScannerInfo" fileName="${baseDir}/scanner.log"
                     filePattern="${baseDir}/scanner-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="scanner-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileDdlInfo" fileName="${baseDir}/ddl.log"
                     filePattern="${baseDir}/ddl-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="ddl-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileDelayInfo" fileName="${baseDir}/delay.log"
                     filePattern="${baseDir}/delay-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="delay-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileEventInfo" fileName="${baseDir}/event.log"
                     filePattern="${baseDir}/event-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="event-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileSoaInfo" fileName="${baseDir}/soa.log"
                     filePattern="${baseDir}/soa-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="soa-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileFrequencyInfo" fileName="${baseDir}/frequency.log"
                     filePattern="${baseDir}/frequency-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="frequency-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileFilterInfo" fileName="${baseDir}/filter.log"
                     filePattern="${baseDir}/filter-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="filter-*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileUidInfo" fileName="${baseDir}/uid.log"
                     filePattern="${baseDir}/uid-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="uid-*.log.gz"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileHeartBeatInfo" fileName="${baseDir}/heartbeat.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.heartbeat.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.heartbeat.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileRestoreInfo" fileName="${baseDir}/restore.log"
                     filePattern="${baseDir}/restore-%i.log.gz">
            <PatternLayout pattern="[%d][%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="restore-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="100"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="ctrip.xpipe.command" level="warn" additivity="false">
            <AppenderRef ref="ReplicatorServerRollingFileInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.replicator.impl.inbound.event.ReplicatorLogEventHandler" level="info" additivity="false">
            <AppenderRef ref="RollingFileGtidInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.replicator.impl.oubound.handler.binlog.DefaultBinlogScannerManager" level="info" additivity="false">
            <AppenderRef ref="RollingFileBinlogScannerInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.replicator.impl.inbound.filter.DdlFilter" level="info" additivity="false">
            <AppenderRef ref="RollingFileDdlInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.replicator.impl.oubound.handler.DelayMonitorCommandHandler" level="info" additivity="false">
            <AppenderRef ref="RollingFileDelayInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.replicator.impl.inbound.filter.TransactionMonitorFilter" level="info" additivity="false">
            <AppenderRef ref="RollingFileEventInfo"/>
        </Logger>
        <Logger name="com.ctrip.soa" level="info" additivity="false">
            <AppenderRef ref="RollingFileSoaInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.vi" level="info" additivity="false">
            <AppenderRef ref="RollingFileSoaInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.ucs" level="info" additivity="false">
            <AppenderRef ref="RollingFileSoaInfo"/>
        </Logger>
        <Logger name="org.apache.dubbo" level="info" additivity="false">
            <AppenderRef ref="RollingFileSoaInfo"/>
        </Logger>
        <Logger name="com.ctriposs.baiji" level="info" additivity="false">
            <AppenderRef ref="RollingFileSoaInfo"/>
        </Logger>
        <Logger name="qunar.tc.qconfig.client" level="warn" additivity="false">
            <AppenderRef ref="ReplicatorServerRollingFileWarn"/>
        </Logger>
        <Logger name="FRE GTID RECEIVE" additivity="false">
            <AppenderRef ref="RollingFileFrequencyInfo"/>
        </Logger>
        <Logger name="FRE GTID SEND" additivity="false">
            <AppenderRef ref="RollingFileFrequencyInfo"/>
        </Logger>
        <Logger name="HEARTBEAT" additivity="false">
            <AppenderRef ref="RollingFileHeartBeatInfo"/>
        </Logger>
        <Logger name="ROWS FILTER" additivity="false">
            <AppenderRef ref="RollingFileFilterInfo"/>
        </Logger>
        <Logger name="UID" additivity="false">
            <AppenderRef ref="RollingFileUidInfo"/>
        </Logger>

        <Logger name="GTID RES" additivity="false">
            <AppenderRef ref="RollingFileRestoreInfo"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ReplicatorServerRollingFileError"/>
            <AppenderRef ref="ReplicatorServerRollingFileWarn"/>
            <AppenderRef ref="ReplicatorServerRollingFileInfo"/>
        </Root>
    </Loggers>
</Configuration>
