<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="baseDir">/opt/logs/100023498</Property>
		<Property name="appName">drc-replicator</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
		</Console>
		<RollingFile name="ReplicatorServerRollingFileInfo" fileName="${baseDir}/info.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.info.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Filters>
				<ThresholdFilter level="INFO"/>
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.info.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="ReplicatorServerRollingFileWarn" fileName="${baseDir}/warn.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.warn.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Filters>
				<ThresholdFilter level="WARN"/>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.warn.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="ReplicatorServerRollingFileError" fileName="${baseDir}/error.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.error.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<ThresholdFilter level="ERROR"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.error.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileGtidInfo" fileName="${baseDir}/gtid.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.gtid.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="200">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.gtid.log.gz"/>
					<IfAccumulatedFileCount exceeds="200"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileDdlInfo" fileName="${baseDir}/ddl.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.ddl.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="200">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.ddl.log.gz"/>
					<IfAccumulatedFileCount exceeds="200"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileDelayInfo" fileName="${baseDir}/delay.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.delay.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.delay.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileEventInfo" fileName="${baseDir}/event.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.event.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.event.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileFrequencyInfo" fileName="${baseDir}/frequency.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.frequency.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.frequency.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileRestoreInfo" fileName="${baseDir}/restore.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.restore.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.restore.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="ctrip.xpipe.command" level="warn" additivity="false">
			<AppenderRef ref="ReplicatorServerRollingFileInfo"/>
		</Logger>
		<Logger name="com.ctrip.framework.drc.replicator.impl.inbound.event.ReplicatorLogEventHandler" level="info" additivity="false">
			<AppenderRef ref="RollingFileGtidInfo"/>
		</Logger>
		<Logger name="com.ctrip.framework.drc.replicator.impl.inbound.filter.DdlFilter" level="info" additivity="false">
			<AppenderRef ref="RollingFileDdlInfo"/>
		</Logger>
		<Logger name="com.ctrip.framework.drc.replicator.impl.oubound.handler.DelayMonitorCommandHandler" level="info" additivity="false">
			<AppenderRef ref="RollingFileDelayInfo"/>
		</Logger>
		<Logger name="com.ctrip.framework.drc.replicator.impl.inbound.filter.TransactionMonitorFilter" level="info" additivity="false">
			<AppenderRef ref="RollingFileEventInfo"/>
		</Logger>
		<Logger name="FRE GTID RECEIVE" additivity="false">
			<AppenderRef ref="RollingFileFrequencyInfo"/>
		</Logger>
		<Logger name="FRE GTID SEND" additivity="false">
			<AppenderRef ref="RollingFileFrequencyInfo"/>
		</Logger>

		<Logger name="GTID RES" additivity="false">
			<AppenderRef ref="RollingFileRestoreInfo"/>
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="ReplicatorServerRollingFileError"/>
			<AppenderRef ref="ReplicatorServerRollingFileWarn"/>
			<AppenderRef ref="ReplicatorServerRollingFileInfo"/>
		</Root>
	</Loggers>
</Configuration>
