<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <Properties>
        <Property name="baseDir">/opt/logs/100023500</Property>
    </Properties>
    <Appenders>

        <RollingFile name="Info" fileName="${baseDir}/info.log"
                     filePattern="${baseDir}/info-%i.log.gz">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="info-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="5"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="Warn" fileName="${baseDir}/warn.log"
                     filePattern="${baseDir}/warn-%i.log.gz">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="warn-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="3"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="Error" fileName="${baseDir}/error.log"
                     filePattern="${baseDir}/error-%i.log.gz">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="error-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="3"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="rows" fileName="${baseDir}/rows.log"
                     filePattern="${baseDir}/rows-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="rows-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="5"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="rows.release" fileName="${baseDir}/rows.release.log"
                     filePattern="${baseDir}/rows.release-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}]%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="rows.release-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="5"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="progress" fileName="${baseDir}/progress.log"
                     filePattern="${baseDir}/progress-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="progress-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="2"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="leak" fileName="${baseDir}/leak.log"
                     filePattern="${baseDir}/leak-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="leak-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="5"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="sqlc" fileName="${baseDir}/sqlc.log"
                     filePattern="${baseDir}/sqlc-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="sqlc-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="20"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="sqlc.seq" fileName="${baseDir}/sqlc.seq.log"
                     filePattern="${baseDir}/sqlc.seq-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="sqlc.seq-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="1"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="lwm.bucket" fileName="${baseDir}/lwm.bucket.log"
                     filePattern="${baseDir}/lwm.bucket-%i.log.gz">
            <PatternLayout pattern="[%d{MM-dd HH:mm:ss:SSS}]%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="lwm.bucket-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="trx.link" fileName="${baseDir}/trx.link.log"
                     filePattern="${baseDir}/trx.link-%i.log.gz">
            <PatternLayout pattern="[%d{MM-dd HH:mm:ss:SSS}]%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="trx.link-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="trx" fileName="${baseDir}/trx.log"
                     filePattern="${baseDir}/trx-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="trx-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="20"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="recv" fileName="${baseDir}/recv.log"
                     filePattern="${baseDir}/recv-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="recv-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="transaction.table" fileName="${baseDir}/transaction.table.log"
                     filePattern="${baseDir}/transaction.table-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="transaction.table-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="delay" fileName="${baseDir}/delay.log"
                     filePattern="${baseDir}/delay-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="delay-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="20"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="sql" fileName="${baseDir}/sql.log"
                     filePattern="${baseDir}/sql-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="sql-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="60"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="cfl" fileName="${baseDir}/cfl.log"
                     filePattern="${baseDir}/cfl-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="cfl-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="fre" fileName="${baseDir}/fre.log"
                     filePattern="${baseDir}/fre-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m %logger %n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="fre-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="2"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="acc" fileName="${baseDir}/acc.log"
                     filePattern="${baseDir}/acc-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m %logger %n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="acc-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="2"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="batch" fileName="${baseDir}/batch.log"
                     filePattern="${baseDir}/batch-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="batch-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="10"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileHeartBeatInfo" fileName="${baseDir}/heartbeat.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.heartbeat.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.heartbeat.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="qunar.tc.qconfig.client" level="warn" additivity="false">
            <AppenderRef ref="Warn"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.replicator.impl.inbound.filter.DdlFilter" additivity="false">
            <AppenderRef ref="transaction.table"/>
        </Logger>
        <Logger name="ROWS" additivity="false">
            <AppenderRef ref="rows"/>
        </Logger>
        <Logger name="ROWS RELEASE" additivity="false">
            <AppenderRef ref="rows.release"/>
        </Logger>
        <Logger name="PROGRESS" additivity="false">
            <AppenderRef ref="progress"/>
        </Logger>
        <Logger name="io.netty.util.ResourceLeakDetector" additivity="false">
            <AppenderRef ref="leak"/>
        </Logger>
        <Logger name="EVENT GROUP BEGIN" additivity="false">
            <AppenderRef ref="sqlc"/>
        </Logger>
        <Logger name="EVENT GROUP SEQUENCE" additivity="false">
            <AppenderRef ref="sqlc.seq"/>
        </Logger>
        <Logger name="LWM BUCKET" additivity="false">
            <AppenderRef ref="lwm.bucket"/>
        </Logger>
        <Logger name="TRX LINK" additivity="false">
            <AppenderRef ref="trx.link"/>
        </Logger>
        <Logger name="TRX END" additivity="false">
            <AppenderRef ref="trx"/>
        </Logger>
        <Logger name="EVT RECV" additivity="false">
            <AppenderRef ref="recv"/>
        </Logger>
        <Logger name="TRANSACTION TABLE" additivity="false">
            <AppenderRef ref="transaction.table"/>
        </Logger>
        <Logger name="EVT DELAY" additivity="false">
            <AppenderRef ref="delay"/>
        </Logger>
        <Logger name="SQL" additivity="false">
            <AppenderRef ref="sql"/>
        </Logger>
        <Logger name="SQL CONFLICT" additivity="false">
            <AppenderRef ref="cfl"/>
        </Logger>
        <Logger name="BATCH" additivity="false">
            <AppenderRef ref="batch"/>
        </Logger>
        <Logger name="FRE EVT BEGIN" additivity="false">
            <AppenderRef ref="fre"/>
        </Logger>
        <Logger name="FRE RETRY EVT BEGIN" additivity="false">
            <AppenderRef ref="fre"/>
        </Logger>
        <Logger name="FRE TRX BEGIN" additivity="false">
            <AppenderRef ref="fre"/>
        </Logger>
        <Logger name="FRE TRX END" additivity="false">
            <AppenderRef ref="fre"/>
        </Logger>
        <Logger name="GAQ WAIT" additivity="false">
            <AppenderRef ref="acc"/>
        </Logger>
        <Logger name="HEARTBEAT" additivity="false">
            <AppenderRef ref="RollingFileHeartBeatInfo"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Info"/>
            <AppenderRef ref="Warn"/>
            <AppenderRef ref="Error"/>
        </Root>
    </Loggers>

</Configuration>
