<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="baseDir">/opt/logs/100025243</Property>
        <Property name="appName">drc-cluster-manager</Property>
    </Properties>
    <Appenders>
        <RollingFile name="ClusterManagerServerRollingFileInfo" fileName="${baseDir}/info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="12">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ClusterManagerServerRollingFileWarn" fileName="${baseDir}/warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ClusterManagerServerRollingFileError" fileName="${baseDir}/error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileStateInfo" fileName="${baseDir}/state.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.state.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.state.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileNotifyInfo" fileName="${baseDir}/notify.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}.notify.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.notify.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--META-->
        <RollingFile name="RollingFileMetaDebug" fileName="${baseDir}/meta_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileMetaInfo" fileName="${baseDir}/meta_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileMetaWarn" fileName="${baseDir}/meta_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileMetaError" fileName="${baseDir}/meta_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.ctrip.framework.drc.manager.ha.cluster.impl.DefaultInstanceStateController" level="info" additivity="false">
            <AppenderRef ref="RollingFileStateInfo"/>
        </Logger>
        <Logger name="com.ctrip.framework.drc.manager.healthcheck.notifier" level="info" additivity="false">
            <AppenderRef ref="RollingFileNotifyInfo"/>
        </Logger>
        <Logger name="com.ctrip.xpipe.concurrent.OneThreadTaskExecutor" level="info" additivity="false">
            <AppenderRef ref="RollingFileNotifyInfo"/>
        </Logger>
        <Logger name="metaLogger" level="info" additivity="false">
            <AppenderRef ref="RollingFileMetaDebug"/>
            <AppenderRef ref="RollingFileMetaInfo"/>
            <AppenderRef ref="RollingFileMetaWarn"/>
            <AppenderRef ref="RollingFileMetaError"/>
        </Logger>
        <Logger name="qunar.tc.qconfig.client" level="warn" additivity="false">
            <AppenderRef ref="ClusterManagerServerRollingFileWarn"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ClusterManagerServerRollingFileError"/>
            <AppenderRef ref="ClusterManagerServerRollingFileWarn"/>
            <AppenderRef ref="ClusterManagerServerRollingFileInfo"/>
        </Root>
    </Loggers>
</Configuration>
