[mysqld]
server-id = 101
log-bin = mysql-bin
log-slave-updates = 1

#basedir=BASE/basedir
#datadir=BASE/data

innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 2G
innodb_log_file_size = 128M

lower_case_table_names = 1

auto_increment_increment = 2
auto_increment_offset = 1
loose-binlog_transaction_dependency_tracking = WRITESET
loose-transaction_write_set_extraction = XXHASH64

skip-host-cache
skip-name-resolve

#write set
slave-parallel-type = LOGICAL_CLOCK
slave-parallel-workers = 32

#gtid
gtid_mode=on
enforce-gtid-consistency=on

#general_log_file=BASE/mysql.log
general_log=1

default-time_zone = '+8:00'

#debug
#debug=d,info,error,query:o,BASE/mysqld.trace
#debug=d:t:i:o,BASE/mysqld.trace
