<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="baseDir">/opt/logs/100023928</Property>
        <Property name="appName">drc-console</Property>
    </Properties>
    <Appenders>
        <!--Collect Clog-->
        <CatAppender name="Cat" />
        <!--Show log resource: class, method, file, line-->
        <!--ATTENTION: It needs additional performance overhead. Do the evaluation and pressure test before using the product env-->
        <CatLineNumberAwareAppender name="Cat" />
        <RollingFile name="ConsoleServerRollingFileInfo" fileName="${baseDir}/info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ConsoleServerRollingFileWarn" fileName="${baseDir}/warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ConsoleServerRollingFileError" fileName="${baseDir}/error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--Delay Monitor Appenders-->
        <RollingFile name="DelayMonitorRollingFileDebug" fileName="${baseDir}/delay-monitor_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.delay-monitor_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.delay-monitor_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DelayMonitorRollingFileInfo" fileName="${baseDir}/delay-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.delay-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.delay-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DelayMonitorRollingFileWarn" fileName="${baseDir}/delay-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.delay-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.delay-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DelayMonitorRollingFileError" fileName="${baseDir}/delay-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.delay-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.delay-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--Delay Monitor appenders-->
        <RollingFile name="DbDelayMonitorRollingFileDebug" fileName="${baseDir}/db-delay-monitor_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.db-delay-monitor_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.db-delay-monitor_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DbDelayMonitorRollingFileInfo" fileName="${baseDir}/db-delay-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.db-delay-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.db-delay-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DbDelayMonitorRollingFileWarn" fileName="${baseDir}/db-delay-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.db-delay-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.db-delay-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DbDelayMonitorRollingFileError" fileName="${baseDir}/db-delay-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.db-delay-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.db-delay-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--Beacon Health Appenders-->
        <RollingFile name="BeaconHealthRollingFileDebug" fileName="${baseDir}/beacon-health_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.beacon-health_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.beacon-health_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="BeaconHealthRollingFileInfo" fileName="${baseDir}/beacon-health_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.beacon-health_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.beacon-health_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="BeaconHealthRollingFileWarn" fileName="${baseDir}/beacon-health_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.beacon-health_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.beacon-health_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="BeaconHealthRollingFileError" fileName="${baseDir}/beacon-health_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.beacon-health_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.beacon-health_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--Gtid Monitor Appenders-->
        <RollingFile name="GtidMonitorRollingFileDebug" fileName="${baseDir}/gtid-monitor_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.gtid-monitor_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.gtid-monitor_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="GtidMonitorRollingFileInfo" fileName="${baseDir}/gtid-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.gtid-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.gtid-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="GtidMonitorRollingFileWarn" fileName="${baseDir}/gtid-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.gtid-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.gtid-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="GtidMonitorRollingFileError" fileName="${baseDir}/gtid-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.gtid-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.gtid-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--Auto Increment Id Monitor Appenders-->
        <RollingFile name="AutoIncrementIdMonitorRollingFileDebug" fileName="${baseDir}/auto-increment-id-monitor_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.auto-increment-id-monitor_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.auto-increment-id-monitor_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="AutoIncrementIdMonitorRollingFileInfo" fileName="${baseDir}/auto-increment-id-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.auto-increment-id-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.auto-increment-id-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="AutoIncrementIdMonitorRollingFileWarn" fileName="${baseDir}/auto-increment-id-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.auto-increment-id-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.auto-increment-id-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="AutoIncrementIdMonitorRollingFileError" fileName="${baseDir}/auto-increment-id-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.auto-increment-id-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.auto-increment-id-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--Data Consistency Monitor Appenders-->
        <RollingFile name="consistencyMonitorRollingFileDebug" fileName="${baseDir}/consistency-monitor_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.consistency-monitor_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.consistency-monitor_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="consistencyMonitorRollingFileInfo" fileName="${baseDir}/consistency-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.consistency-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.consistency-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="consistencyMonitorRollingFileWarn" fileName="${baseDir}/consistency-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.consistency-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.consistency-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="consistencyMonitorRollingFileError" fileName="${baseDir}/consistency-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.consistency-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.consistency-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--Table Consistency Monitor Appenders-->
        <RollingFile name="tableConsistencyMonitorRollingFileInfo" fileName="${baseDir}/table-consistency-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.table-consistency-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.table-consistency-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="tableConsistencyMonitorRollingFileWarn" fileName="${baseDir}/table-consistency-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.table-consistency-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.table-consistency-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="tableConsistencyMonitorRollingFileError" fileName="${baseDir}/table-consistency-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.table-consistency-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.table-consistency-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--heartbeat Appenders-->
        <RollingFile name="heartbeatRollingFileInfo" fileName="${baseDir}/heartbeat_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.heartbeat_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.heartbeat_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="heartbeatRollingFileWarn" fileName="${baseDir}/heartbeat_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.heartbeat_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.heartbeat_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="heartbeatRollingFileError" fileName="${baseDir}/heartbeat_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.heartbeat_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.heartbeat_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--MySQL Monitor Appenders-->
        <RollingFile name="mySqlMonitorRollingFileDebug" fileName="${baseDir}/mysql-monitor_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.mysql-monitor_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.mysql-monitor_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="mySqlMonitorRollingFileInfo" fileName="${baseDir}/mysql-monitor_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.mysql-monitor_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.mysql-monitor_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="mySqlMonitorRollingFileWarn" fileName="${baseDir}/mysql-monitor_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.mysql-monitor_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.mysql-monitor_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="mySqlMonitorRollingFileError" fileName="${baseDir}/mysql-monitor_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.mysql-monitor_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.mysql-monitor_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--META-->
        <RollingFile name="RollingFileMetaDebug" fileName="${baseDir}/meta_debug.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_debug.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_debug.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileMetaInfo" fileName="${baseDir}/meta_info.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_info.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_info.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileMetaWarn" fileName="${baseDir}/meta_warn.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_warn.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_warn.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFileMetaError" fileName="${baseDir}/meta_error.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.meta_error.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.meta_error.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileHeartBeatInfo" fileName="${baseDir}/heartbeat.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.heartbeat.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.heartbeat.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="traffic" fileName="${baseDir}/traffic.log"
                     filePattern="${baseDir}/traffic-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="traffic-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="3"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="qunar.tc.qconfig.client" level="warn" additivity="false">
            <AppenderRef ref="ClusterManagerServerRollingFileWarn"/>
        </Logger>
        <Logger name="ctrip.xpipe.command" level="warn" additivity="false">
            <AppenderRef ref="ConsoleServerRollingFileInfo"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="ConsoleServerRollingFileError"/>
            <AppenderRef ref="ConsoleServerRollingFileWarn"/>
            <AppenderRef ref="ConsoleServerRollingFileInfo"/>
        </Root>
        <Logger name="delayMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="DelayMonitorRollingFileDebug"/>
            <AppenderRef ref="DelayMonitorRollingFileInfo"/>
            <AppenderRef ref="DelayMonitorRollingFileWarn"/>
            <AppenderRef ref="DelayMonitorRollingFileError"/>
        </Logger>
        <Logger name="dbDelayMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat"/>
            <AppenderRef ref="DbDelayMonitorRollingFileDebug"/>
            <AppenderRef ref="DbDelayMonitorRollingFileInfo"/>
            <AppenderRef ref="DbDelayMonitorRollingFileWarn"/>
            <AppenderRef ref="DbDelayMonitorRollingFileError"/>
        </Logger>
        <Logger name="beaconHealthLogger" additivity="false" level="info">
            <AppenderRef ref="BeaconHealthRollingFileDebug"/>
            <AppenderRef ref="BeaconHealthRollingFileInfo"/>
            <AppenderRef ref="BeaconHealthRollingFileWarn"/>
            <AppenderRef ref="BeaconHealthRollingFileError"/>
        </Logger>
        <Logger name="gtidMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="GtidMonitorRollingFileDebug"/>
            <AppenderRef ref="GtidMonitorRollingFileInfo"/>
            <AppenderRef ref="GtidMonitorRollingFileWarn"/>
            <AppenderRef ref="GtidMonitorRollingFileError"/>
        </Logger>
        <Logger name="autoIncrementIdMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileDebug"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileInfo"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileWarn"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileError"/>
        </Logger>
        <Logger name="consistencyMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="consistencyMonitorRollingFileDebug"/>
            <AppenderRef ref="consistencyMonitorRollingFileInfo"/>
            <AppenderRef ref="consistencyMonitorRollingFileWarn"/>
            <AppenderRef ref="consistencyMonitorRollingFileError"/>
        </Logger>
        <Logger name="tableConsistencyMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="tableConsistencyMonitorRollingFileInfo"/>
            <AppenderRef ref="tableConsistencyMonitorRollingFileWarn"/>
            <AppenderRef ref="tableConsistencyMonitorRollingFileError"/>
        </Logger>
        <Logger name="heartbeatLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="heartbeatRollingFileInfo"/>
            <AppenderRef ref="heartbeatRollingFileWarn"/>
            <AppenderRef ref="heartbeatRollingFileError"/>
        </Logger>
        <Logger name="mySqlMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Cat" />
            <AppenderRef ref="mySqlMonitorRollingFileDebug"/>
            <AppenderRef ref="mySqlMonitorRollingFileInfo"/>
            <AppenderRef ref="mySqlMonitorRollingFileWarn"/>
            <AppenderRef ref="mySqlMonitorRollingFileError"/>
        </Logger>
        <Logger name="metaLogger" level="info" additivity="false">
            <AppenderRef ref="RollingFileMetaDebug"/>
            <AppenderRef ref="RollingFileMetaInfo"/>
            <AppenderRef ref="RollingFileMetaWarn"/>
            <AppenderRef ref="RollingFileMetaError"/>
        </Logger>
        <Logger name="HEARTBEAT" additivity="false">
            <AppenderRef ref="RollingFileHeartBeatInfo"/>
        </Logger>
        <Logger name="TRAFFIC" additivity="false">
            <AppenderRef ref="traffic"/>
        </Logger>
    </Loggers>
</Configuration>
