<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <Properties>
        <Property name="baseDir">/opt/logs/100030428</Property>
    </Properties>
    <Appenders>

        <RollingFile name="Info" fileName="${baseDir}/info.log"
                     filePattern="${baseDir}/info-%i.log.gz">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="info-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="5"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="Warn" fileName="${baseDir}/warn.log"
                     filePattern="${baseDir}/warn-%i.log.gz">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="warn-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="3"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="Error" fileName="${baseDir}/error.log"
                     filePattern="${baseDir}/error-%i.log.gz">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="error-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="3"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="eve.seq" fileName="${baseDir}/eve.seq.log"
                     filePattern="${baseDir}/eve.seq-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="eve.seq-*.log.gz"/>
                    <IfAccumulatedFileCount exceeds="1"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="qunar.tc.qconfig.client" level="warn" additivity="false">
            <AppenderRef ref="Warn"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Info"/>
            <AppenderRef ref="Warn"/>
            <AppenderRef ref="Error"/>
        </Root>
        <Logger name="EVENT GROUP SEQUENCE" additivity="false">
            <AppenderRef ref="eve.seq"/>
        </Logger>
    </Loggers>

</Configuration>
