<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="baseDir">/opt/logs/100023498</Property>
		<Property name="appName">drc-replicator</Property>
	</Properties>
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
		</Console>

		<RollingFile name="ReplicatorServerRollingFileInfo" fileName="${baseDir}/info.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.info.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.info.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="ReplicatorServerRollingFileError" fileName="${baseDir}/error.log"
					 filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.error.log.gz">
			<PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
			<ThresholdFilter level="ERROR"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="${appName}*.error.log.gz"/>
					<IfLastModified age="7d"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ReplicatorServerRollingFileInfo"/>
			<AppenderRef ref="ReplicatorServerRollingFileError"/>
		</Root>
	</Loggers>

</Configuration>