<dal name="drc-console">
	<databaseSets>
		<databaseSet name="fxdrcmetadb_w" provider="mySqlProvider">
            <add name="fxdrcmetadb_w" databaseType="Master" sharding="" connectionString="fxdrcmetadb_w"/>
		</databaseSet>
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>
	</LogListener>
	<ConnectionLocator>
		<settings>
		    <useLocalConfig>true</useLocalConfig>
            <databaseConfigLocation>$classpath</databaseConfigLocation>
            <ignoreExternalException>true</ignoreExternalException>
			<dataSourceConfigureProvider>com.ctrip.platform.dal.dao.configure.DefaultDataSourceConfigureProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.task.DefaultTaskFactory</factory>
	</TaskFactory>
</dal>
