<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <property name="basePathForWindows">C:</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
        </Console>

        <RollingFile name="RollingFileDebug" fileName="/opt/logs/drc/console/debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileInfo" fileName="/opt/logs/drc/console/info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileWarn" fileName="/opt/logs/drc/console/warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="/opt/logs/drc/console/error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <!--Delay Monitor appenders-->
        <RollingFile name="DelayMonitorRollingFileDebug" fileName="/opt/logs/drc/console/delay-monitor_debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/delay-monitor_debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="DelayMonitorRollingFileInfo" fileName="/opt/logs/drc/console/delay-monitor_info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/delay-monitor_info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="DelayMonitorRollingFileWarn" fileName="/opt/logs/drc/console/delay-monitor_warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/delay-monitor_warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="DelayMonitorRollingFileError" fileName="/opt/logs/drc/console/delay-monitor_error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/delay-monitor_error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <!--Gtid Monitor appenders-->
        <RollingFile name="GtidMonitorRollingFileDebug" fileName="/opt/logs/drc/console/gtid-monitor_debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/gtid-monitor_debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="GtidMonitorRollingFileInfo" fileName="/opt/logs/drc/console/gtid-monitor_info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/gtid-monitor_info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="GtidMonitorRollingFileWarn" fileName="/opt/logs/drc/console/gtid-monitor_warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/gtid-monitor_warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="GtidMonitorRollingFileError" fileName="/opt/logs/drc/console/gtid-monitor_error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/gtid-monitor_error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <!--Auto Increment Id Monitor appenders-->
        <RollingFile name="AutoIncrementIdMonitorRollingFileDebug"
                     fileName="/opt/logs/drc/console/auto-increment-id-monitor_debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/auto-increment-id-monitor_debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="AutoIncrementIdMonitorRollingFileInfo"
                     fileName="/opt/logs/drc/console/auto-increment-id-monitor_info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/auto-increment-id-monitor_info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="AutoIncrementIdMonitorRollingFileWarn"
                     fileName="/opt/logs/drc/console/auto-increment-id-monitor_warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/auto-increment-id-monitor_warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="AutoIncrementIdMonitorRollingFileError"
                     fileName="/opt/logs/drc/console/auto-increment-id-monitor_error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/auto-increment-id-monitor_error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <!--Data Consistency Monitor appenders-->
        <RollingFile name="consistencyMonitorRollingFileDebug"
                     fileName="/opt/logs/drc/console/consistency-monitor_debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/consistency-monitor_debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="consistencyMonitorRollingFileInfo"
                     fileName="/opt/logs/drc/console/consistency-monitor_info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/consistency-monitor_info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="consistencyMonitorRollingFileWarn"
                     fileName="/opt/logs/drc/console/consistency-monitor_warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/consistency-monitor_warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="consistencyMonitorRollingFileError"
                     fileName="/opt/logs/drc/console/consistency-monitor_error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/consistency-monitor_error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <!--Table Consistency Monitor appenders-->
        <RollingFile name="tableConsistencyMonitorRollingFileDebug"
                     fileName="/opt/logs/drc/console/table-consistency-monitor_debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/table-consistency-monitor_debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="tableConsistencyMonitorRollingFileInfo"
                     fileName="/opt/logs/drc/console/table-consistency-monitor_info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/table-consistency-monitor_info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="tableConsistencyMonitorRollingFileWarn"
                     fileName="/opt/logs/drc/console/table-consistency-monitor_warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/table-consistency-monitor_warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="tableConsistencyMonitorRollingFileError"
                     fileName="/opt/logs/drc/console/table-consistency-monitor_error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/table-consistency-monitor_error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <!--MySQL Monitor appenders-->
        <RollingFile name="mySqlMonitorRollingFileDebug" fileName="/opt/logs/drc/console/mysql-monitor_debug.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/mysql-monitor_debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="mySqlMonitorRollingFileInfo" fileName="/opt/logs/drc/console/mysql-monitor_info.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/mysql-monitor_info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPoliy/>-->
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="mySqlMonitorRollingFileWarn" fileName="/opt/logs/drc/console/mysql-monitor_warn.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/mysql-monitor_warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="mySqlMonitorRollingFileError" fileName="/opt/logs/drc/console/mysql-monitor_error.log"
                     filePattern="/opt/logs/drc/console/$${date:yyyy-MM}/mysql-monitor_error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileDebug"/>
            <AppenderRef ref="RollingFileInfo"/>
            <AppenderRef ref="RollingFileWarn"/>
            <AppenderRef ref="RollingFileError"/>
        </Root>

        <Logger name="delayMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DelayMonitorRollingFileDebug"/>
            <AppenderRef ref="DelayMonitorRollingFileInfo"/>
            <AppenderRef ref="DelayMonitorRollingFileWarn"/>
            <AppenderRef ref="DelayMonitorRollingFileError"/>
        </Logger>

        <Logger name="gtidMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="GtidMonitorRollingFileDebug"/>
            <AppenderRef ref="GtidMonitorRollingFileInfo"/>
            <AppenderRef ref="GtidMonitorRollingFileWarn"/>
            <AppenderRef ref="GtidMonitorRollingFileError"/>
        </Logger>

        <Logger name="autoIncrementIdMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileDebug"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileInfo"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileWarn"/>
            <AppenderRef ref="AutoIncrementIdMonitorRollingFileError"/>
        </Logger>

        <Logger name="consistencyMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="consistencyMonitorRollingFileInfo"/>
            <AppenderRef ref="consistencyMonitorRollingFileWarn"/>
            <AppenderRef ref="consistencyMonitorRollingFileError"/>
        </Logger>

        <Logger name="tableConsistencyMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="tableConsistencyMonitorRollingFileInfo"/>
            <AppenderRef ref="tableConsistencyMonitorRollingFileWarn"/>
            <AppenderRef ref="tableConsistencyMonitorRollingFileError"/>
        </Logger>

        <Logger name="mySqlMonitorLogger" additivity="false" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="mySqlMonitorRollingFileInfo"/>
            <AppenderRef ref="mySqlMonitorRollingFileWarn"/>
            <AppenderRef ref="mySqlMonitorRollingFileError"/>
        </Logger>
    </Loggers>

</Configuration>