<dal name="drcbenchmark">
	<databaseSets>
		<cluster name="bbzbbzdrcbenchmarktmpdb_dalcluster"/>
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
	</LogListener>
	<ConnectionLocator>
		<settings>
		    <useLocalConfig>true</useLocalConfig>
		    <databaseConfigLocation>$classpath</databaseConfigLocation>
            <ignoreExternalException>true</ignoreExternalException>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>
