<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
		</Console>

		<RollingFile name="RollingFileInfo" fileName="/opt/logs/drc/manager/info.log"
					 filePattern="/opt/logs/drc/manager/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}.log">
			<Filters>
				<ThresholdFilter level="INFO"/>
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
			<Policies>
				<!--<TimeBasedTriggeringPoliy/>-->
				<SizeBasedTriggeringPolicy size="512 MB"/>
			</Policies>
		</RollingFile>

		<RollingFile name="RollingFileWarn" fileName="/opt/logs/drc/manager/warn.log"
					 filePattern="/opt/logs/drc/manager/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}.log">
			<Filters>
				<ThresholdFilter level="WARN"/>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="24"/>
				<SizeBasedTriggeringPolicy size="512 MB"/>
			</Policies>
		</RollingFile>

		<RollingFile name="RollingFileError" fileName="/opt/logs/drc/manager/error.log"
					 filePattern="/opt/logs/drc/manager/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="ERROR"/>
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="24"/>
				<SizeBasedTriggeringPolicy size="512 MB"/>
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileInfo"/>
			<AppenderRef ref="RollingFileWarn"/>
			<AppenderRef ref="RollingFileError"/>
		</Root>
	</Loggers>

</Configuration>